<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRYQqP0X9K466q7eguOn0CpW5-okQPFv0</string>
	<key>GCM_SENDER_ID</key>
	<string>4774313612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.aydat.shiptomobileapp</string>
	<key>PROJECT_ID</key>
	<string>shiptomobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shiptomobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4774313612:ios:27cb3b80f91795e7ad45a9</string>
</dict>
</plist>